

.form {
    width: 100%;
    display: grid;
    gap: 3rem;
}

.inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1.5rem 0 1.5rem;
    gap: 1rem;
}

.inputs label {
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    font-size: small;
}

.inputs input {
    width: 100%;
    padding: 0 1rem 0 1rem;
    border-radius: 10px;
    border: 1px solid gray;
    height: 3rem;
    color: black;
    font-weight: 800;
    font-size: large;
}

.inputs span {
    color: red;
    font-weight: 100;
    font-size: x-small;
}

.content-submit {
    width: 100%;
    position: relative;
    padding: 0 1rem 0 1rem;
}

.content-submit .submit {
    border: none;
    background-color: hsl(259, 100%, 65%);
    border-radius: 100px;
    width: 3.5rem;
    height: 3.5rem;
    z-index: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}